# VGA
NET "hsync"      LOC = P87;
NET "vsync"      LOC = P85;  
NET "red[0]"     LOC = P79;
NET "red[1]"     LOC = P80;  
NET "green[0]"   LOC = P81;
NET "green[1]"   LOC = P82; 
NET "blue[0]"    LOC = P83;
NET "blue[1]"    LOC = P84;



NET "clk"    	 LOC = P50;   # 24MHz on-board clock
NET "reset"     LOC = p133;  # active-low USER_PB button


# Push-Buttons
NET "btn_up"     LOC = P78;
NET "btn_down"   LOC = P75;
NET "btn_left"   LOC = P67;
NET "btn_right"  LOC = P74;


# Leds
NET "Leds[4]"                   LOC=P124;
NET "Leds[3]"                   LOC=P126;
NET "Leds[2]"                   LOC=P127;
NET "Leds[1]"                   LOC=P131;
NET "Leds[0]"                   LOC=P132;

# Seven segments
NET "sevensegments[0]"	LOC = p47;
NET "sevensegments[1]"	LOC = p43;
NET "sevensegments[2]"	LOC = p34;
NET "sevensegments[3]"	LOC = p40;
NET "sevensegments[4]"	LOC = p35;
NET "sevensegments[5]"	LOC = p44;
NET "sevensegments[6]"	LOC = p30;
NET "sevensegments[7]"	LOC = p33;

# Enable of Seven Segments
NET	"outseg[0]"       LOC=P46;
NET   "outseg[1]"       LOC=P45;
NET   "outseg[2]"       LOC=P41;
NET   "outseg[3]"       LOC=P32;






